<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tiger.totem.mapper.MenuMapper">
    <resultMap id="getAllMenu" type="com.tiger.totem.model.MenuVO">
        <id property="id" column="id"/>
        <result column="parent_id" property="parentId"/>
        <result column="parent" property="parent"/>
        <result column="url" property="url"/>
        <result column="menu_name" property="menuName"/>
        <result column="status" property="status"/>
        <result column="create_date" property="createDate"/>
        <result column="mod_date" property="modDate"/>
        <collection property="children" ofType="com.tiger.totem.model.MenuVO"
                    select="qryAllNextMenu" column="id"/>
    </resultMap>

    <!-- 获取所有父级菜单 -->
    <select id="qryMenuTree" resultMap="getAllMenu">
        SELECT id,parent_id,parent,url,component,menu_name,status,create_date,mod_date FROM totem_menu
        WHERE parent_id = 0
    </select>

    <!-- 获取所有子菜单 -->
    <select id="qryAllNextMenu" resultMap="getAllMenu">
        SELECT id,parent_id,parent,url,component,menu_name,status,create_date,mod_date FROM totem_menu
        WHERE parent_id = #{parentId}
    </select>

    <!-- 获取所有子路由 -->
    <select id="qryAllRoutes" resultType="com.tiger.totem.model.MenuVO">
        SELECT id,parent_id,parent,url,component,menu_name,status,create_date,mod_date FROM totem_menu
        WHERE parent_id != 0
    </select>
</mapper>